div{
    width:100%;
    height: 300px;
    
}
.width{ 
    background-color: grey;
    font-size:40px;
}
.col {
    background-image:url("images/gagan2.jpg");
    font-size: 40px;
    

 }
.green{

    background-image:url("images/gagan25.jpg");
    font-size: 40px;

}
.red{
    opacity: 0.3;
    background-color:red;
    text-align: right;
    color:white;
    font-size: 50px;


}
.green, .red{ 
position: absolute;
    left:0px;
    top:600px;
}